# Site settings
url:   "https://alliedseabreeze35.org"
title: Allied Seabreeze Owners Association
email: seabreezeowners@gmail.com
db_update_form: https://forms.gle/usB89vY9sc5U6adG8
db_url: //asoadb.alliedseabreeze35.org

# The default "suggested image" for the site. Can
# be overridden by page.og_image, but should be a link
# local to the site or FB et al might not like it
og_image: /assets/images/breezy.jpg

gallery_src:
  s3: "https://asoa-files.s3.amazonaws.com/gallery-photos/"

# no trailing "/" on the next variable
docs: "/downloads"
sass:
  sass_dir: css
  # style: compressed

# Build settings
markdown: kramdown

exclude:
- README.md
- Makefile
- LICENSE
- CNAME

menu:
- ["Home", "/"]
- ["History", "/history.html"]
- ["Gallery", "/gallery.html"]
- ["Library", "/library.html"]
- ["Members", "/members.html"]

defaults:
  -
    scope:
      path: ""
    values:
      layout: "default"
