# Site settings
title: Allied Seabreeze Owners Association
email: seabreezeowners@gmail.com

# no trailing "/" on the next variable
docs: "http://alliedseabreeze35.org/files/Download"
sass:
  sass_dir: css
  # style: compressed

# Build settings
markdown: kramdown

exclude:
- README.md
- Makefile
- LICENSE
- CNAME

menu:
- ["Home", "/"]
- ["History", "/history.html"]
- ["Library", "/library.html"]
- ["Members", "/members.html"]

defaults:
  -
    scope:
      path: ""
    values:
      layout: "default"
