---
---

$img_width: 600px;
$alt_color: rgb(64, 128, 128);
$alt_color_lite: rgba(64, 128, 128, 0.4);

$br_sm: 576px;
$br_md: 768px;
$br_lg: 992px;
$br_xl: 1200px;
$br_xxl: 1400px;

nav {
  background: $alt_color_lite;

  .navbar-brand {
      width: 24px;
  }

  .navbar-nav .nav-link.active {
    font-weight: bold;
    color: $alt_color;
  }
}

footer {
  background: $alt_color_lite;
  padding: 1.5em;
}

h1, h2, h3 {
  
  color: rgb(64, 128, 128);
}

h1 {
  margin-top: 2em;
  text-align: center;
}

h2, h3 {
  margin-top: 1em;
}

p.attn {
  margin: 1.5em;
  padding: 1em;

  strong {
    color: $alt_color;
  }
}

.container {
  .byline {
    margin-left: 1.5em;
    margin-bottom: 1rem;
    color: $alt_color;
    line-height: 1.1em;

    p {
      margin: 0;
    }

    p.ocr {
      font-size: 0.9em;
      font-style: italic;
    }
  }

  blockquote { margin: 0 3em 1rem; }

  .section {
    margin-left: 2em;
  }

  div.image-wrapper {
    width: 90%;
    max-width: $img_width;
    margin: 0 auto;

    &.float {
      float: right;
      width: 325px;
      margin: 0 0 0 1.5em;
    }

    &.small {
      width: 150px;
    }

    img {
      display: block;
      margin: 0 auto;
      width: 100%;
    }

    .title {
      display: block;
      font-family: Georgia, serif;
      font-size: 0.9em;
      font-style: italic;
      line-height: 1.25em;
      margin: 5px 0;
      text-align: center;

      em {
        font-weight: bold;
      }
    }
  }

  hr {
    width: 75%;
    margin: 1.5em auto;
  }

  .clearfix {
    margin-bottom: 1em;
  }
}

@media (max-width: $br_md) {
  .container {
    div.image-wrapper.float {
      max-width: 200px;
    }
  }
}

#carousel {
  margin: 1em auto;
  width: 320px;
  height: 240px;
  background: $alt_color;

  img {
    max-width: 320px;
    max-height: 240px;
    width: auto;
    height: auto;
    margin: auto;
  }

  .carousel-caption {
    right: auto;
    left: 5%;
    text-align: left;
    top: 3%;
    bottom: auto;
    padding: 0.25em 0.5em;

    h5 {
      margin-bottom: 0.25em;
      font-size: 0.9em;
    }
    p {
      margin: 1px;
      line-height: 1.1em;
      font-size: 0.7em;
    }

    .attr {
      font-style: italic;
    }

    .desc {
      display: none;
    }

    &.caption-translucent {
      background: $alt_color_lite;
      color: black;
    }
    &.caption-opaque {
      background: $alt_color;
    }
    &.caption-dark { color: black; }
    &.caption-bright { color: orange }
  }
}


@media (min-width: $br_sm) and (min-height: 410px), (device-width: 390px) and (orientation: landscape) {
/* device-width should match iPhone 12 Pro/13. See
   https://stackoverflow.com/questions/75177881/media-queries-with-min-height-on-ios-safari
   NB: iOS safari holds device-width/height constant when orientation changes. The Chrome debugger does not.
   TODO: this also targets iOS Chrome, which unfortunately has a smaller effective height, so the carousel is too tall. How to target iOS Safari but not Chrome?
*/
  #carousel {
    width: 513px;
    height: 385px;
    img {
      max-width: 513px;
      max-height: 385px;
    }

    .carousel-caption {
        h5 { font-size: 1.1em }
        p { font-size: 0.85em; }
        .desc { display: block; }
    }
  }
}

@media (min-width: $br_md) and (min-height: 550px) {
  #carousel {
    width: 696px;
    height: 522px;
    img {
      max-width: 696px;
      max-height: 522px;
    }
  }
}

@media (min-width: $br_lg) and (min-height: 730px) {
  #carousel {
    width: 936px;
    height: 702px;
    img {
      max-width: 936px;
      max-height: 702px;
    }
  }
}


@media (min-width: $br_xl) and (min-height: 860px) {
  #carousel {
    width: 1116px;
    height: 837px;
    img {
      max-width: 1116px;
      max-height: 837px;
    }
  }
}

/*
@media (min-width: $br_xxl) and (min-height: 1000px) {
  #carousel {
    width: 1296px;
    height: 972px;
    img {
      max-width: 1296px;
      max-height: 972px;
    }
  }
}
*/
